body {
	width: 100%;
	height: 1200px;
	background-color: black;
	padding: 0px;
	margin: 0px;
}

.top_bar { /* header bar */
	height: 30px;
	width: 100%; 
	margin: 0px;
	background-color: #808080;
	color: white;
	font-family: "Times New Roman", serif;
	font-size: 10px;
	min-width: 500px;
	position: fixed;
}

.left_block { /* creating generic left block for any element that is split in half */
	display: inline-block;
	height: 100%;
	width: 50%;
	margin: 0px;
}

.right_block { /* creating generic right block for any element that is split in half */
	display:inline-block;
	text-align: right;
	float: right;
	height: 100%;
	width: 50%;
	margin: 0px;
}

.helper_container { /* created this so we can vertically center images/text within the parent bars, see http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div for explanation */
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.top_bar .left_block img {
	height: 15px;
	padding-left: 5px;
	padding-right: 2px;
	vertical-align: middle;
}



.top_bar .right_block img { /* modifying the social media images sizes */
	height: 15px;
	padding-left: 5px;
	padding-right: 2px;
	vertical-align: middle;
}

.top_bar .right_block .linkedin img { /* modifying the height of the linkedin image specifically since it seems to have its own padding */
	height: 22px;
	padding-left: 1px;
	padding-right: 15px;
}

/* .facebook img {
	padding-left: 5px;
	padding-right: 10px;
} */

.top_bar a { /* styling the top bar's text */
	font-family: "Times New Roman", serif;
	font-size: 10px;
}

.top_bar a:link { /* styling the top bar's unvisited links */
	color: white;
	text-decoration: none;
}

.top_bar a:visited { /* styling the top bar's visited links */
	color: #ff3300;
}

.top_bar a:hover {  /* styling the top bar's links when hovered over */
	text-decoration: underline;
}

.email {
	padding-right: 15px;
}

.page_title_bar {
	width: 100%;
	height: 10%;
	margin: 0px;
	background-color: #99ccff;
}

.header_bar {
	height: 3%;
}

.header_bar h1 {
	color: #f2f2f2;
	text-align: center;
}

.middle_bar {
	height: 20%;
	background-color: #66ff33; /* only using this so I can always see where the overall block is placed, can remove color later if I want 
	border: 15px solid black; */
}

.bottom_bar {
	width: 100%;
	height: 8%;
	margin: 75px 0px 0px 0px;
	background-color: #ffff00;
}

.more_info {
	width: 100%;
	height: 45%;
	background-color: #ffffcc;
	margin: 0px;
}

.footer {
	width: 100%;
	height: 11%;
	background-color: #d9d9d9;
}

