.top_bar {
    height: 100px;      /* equals max image height */
    width: 160px;
    border: 1px solid red;
    text-align: center; margin: 1em 0;
}

.email {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

 img {
    background: #3A6F9A;
    vertical-align: middle;
}

/*

#top_bar {
	height: 50px;
	width: 1000px; 
	background-color: #808080;
	text-align: center; margin: 1em 0;
}

#top_bar .email {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#top_bar .email img {
	vertical-align: middle;
	height: 30px;
}

*/